:root {
  --primary-color: #ed5454;
  --secondary-color: #282828;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background: rgb(36, 36, 36) url("../images/background.png");
  font-size: 1.1em;
  line-height: 1.5;
  background-repeat: repeat;
  background-size: 30%;
  background-position: center;
}

main img {
  width: auto;
  height: auto;
}

h1,
h2,
h3 {
  padding: 1em 0;
  font-family: "Langar", cursive;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

p {
  margin: 0;
  padding: 1em 0;
}

a {
  color: white;
  text-decoration: none;
}

/* ----------NAVBAR---------- */

header {
  background: var(--primary-color);
  color: white;
  text-align: center;
  justify-content: space-between;
  height: 52px;
  box-shadow: 0 0 30px rgba(255, 17, 17, 0.5);
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  position: sticky;
  z-index: 1;
}

nav {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.menu {
  display: inline-flex;
  margin-left: auto;
}

.logo {
  display: inline-flex;
  padding-top: 5px;
}

nav img {
  display: inline-block;
  width: auto;
  height: auto;
}

nav:after {
  content: "";
  clear: both;
  display: table;
}

nav ul {
  justify-content: end;
  text-align: center;
  list-style: none;
  margin-right: 40px;
  position: relative;
}

nav ul li {
  display: inline-block;
  background: var(--primary-color);
  /* margin: 0 5px; */
  width: 13em;
  text-align: center;
}

.menu img {
  width: 42px;
  height: auto;
  padding-top: 5px;
}

nav ul li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  line-height: 52px;
  font-size: 1em;
  width: 13em;
  /* padding: 8px 15px; */
}

nav ul ul {
  position: absolute;
  /* top: 3.2em; */
  opacity: 0;
  visibility: hidden;
}

nav ul ul li {
  text-align: center;
  position: relative;
  margin: 0;
  width: 13em;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul li a:hover {
  text-decoration: underline;
}

nav ul li:hover ul {
  opacity: 1;
  visibility: visible;
}

nav ul ul li a {
  display: inline-block;
  line-height: 2.2em;
  width: 13em;
}

.show,
.icon,
input {
  display: none;
}

/* ----------NAVBAR-RESPONSIVE---------- */

.show,
input {
  display: none;
}

@media all and (max-width: 968px) {
  nav ul {
    margin-right: 0px;
  }

  nav .logo {
    align-self: start;
    padding-top: 5px;
    padding-left: 25px;
  }

  nav ul li,
  nav ul ul li {
    display: inline-block;
    width: 100%;
  }

  nav ul ul {
    top: 52px;
    position: static;
    border-top: none;
    display: none;
    opacity: 1;
    visibility: visible;
  }

  .show {
    display: block;
    color: white;
    padding: 0 20px;
    line-height: 52px;
    cursor: pointer;
  }

  .icon {
    display: block;
    color: white;
    position: absolute;
    right: 25px;
    line-height: 52px;
    font-size: 1.7em;
    z-index: 1;
  }

  .show + a,
  .menu ul {
    display: none;
  }

  [id^="btn"]:checked + ul {
    display: block;
  }

  nav ul ul li {
    border-bottom: 0px;
  }
}

/* ----------FOOTER---------- */

.footer-grid {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: auto 3em;
  padding-top: 2em;
}

.footer-logo {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  align-items: center;
}

.footer-logo img {
  height: auto;
  padding: 2em;
}

.footer-policy {
  grid-area: 1 / 2 / 2 / 3;
  margin: 2em auto;
}

.footer-policy ul li {
  padding-bottom: 0.3em;
  padding-left: 3em;
}

.footer-destinations {
  grid-area: 1 / 3 / 2 / 4;
}

.footer-history {
  grid-area: 1 / 4 / 2 / 5;
  margin-bottom: 2em;
}

.footer-contact {
  grid-area: 1 / 5 / 2 / 7;
  text-align: center;
}

.footer-social-links {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
}

.contact-info-social {
  grid-area: 1 / 1 / 2 / 2;
  padding-top: 2em;
}

.footer-contact-social div {
  width: fit-content;
}

.footer-contact img {
  width: auto;
  margin: 1em auto;
}

.contact-info {
  grid-area: 1 / 2 / 2 / 3;
  padding-top: 1em;
}

.footer-copywrite {
  grid-area: 2 / 1 / 3 / 7;
  text-align: center;
  color: gray;
  border-top: gray 1px solid;
}

.footer-copywrite p {
  line-height: 0.9em;
}

.footer-list-links li {
  color: gray;
  padding-left: 1em;
  font-size: 0.7em;
}

.footer-list-links li a {
  color: gray;
}

.footer-list-titles {
  padding-left: 1em;
}

footer {
  margin-top: 2em;
  background: var(--secondary-color);
  color: white;
}

footer a:hover {
  text-decoration: underline;
}

/* ----------IMAGE GALLERY---------- */

.gallery {
  width: 100%;
  height: 95vh;
  background-image: url(../images/kyoto/kyoto-banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

/* ----------ALL TEXT---------- */

.text-background {
  background: rgba(255, 255, 255, 0.7);
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 2em;
}

.text-background img {
  border: 1px solid var(--primary-color);
}

/* ----------TRAVEL ADVICE---------- */

.title h1 {
  font-size: 3em;
  padding-left: 0.5em;
}

.section-title h1 {
  font-size: 2.5em;
  padding-left: 0.5em;
}

.preview {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
}

.preview-image {
  grid-area: 1 / 1 / 2 / 2;
  margin-top: 2em;
}
.preview-text {
  grid-area: 1 / 2 / 2 / 3;
  padding: 2em;
}

/* ----------TOKYO TEMPERATURE---------- */

.kyoto-temperature {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
}

.kyoto-temperature img {
  border: 0;
}

.kyoto-temperature-array {
  grid-area: 1 / 1 / 2 / 2;
  margin: 0 auto;
}
.kyoto-temperature-image {
  grid-area: 1 / 2 / 2 / 3;
  align-self: end;
  justify-self: center;
}
/* ----------GETTING TO KYOTO---------- */

.from {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
}

.from img {
  width: auto;
}

.from-title {
  grid-area: 1 / 1 / 2 / 4;
  padding-left: 0.5em;
}

.transportation-1 {
  grid-area: 2 / 1 / 3 / 2;
  padding: 2em;
}

.transportation-2 {
  grid-area: 2 / 2 / 3 / 3;
  padding: 2em;
}

.transportation-3 {
  grid-area: 2 / 3 / 3 / 4;
  padding: 2em;
}

.transportation-4 {
  grid-area: 3 / 1 / 4 / 2;
  padding: 2em;
  padding-top: 0em;
  height: fit-content;
}

.transportation-5 {
  grid-area: 3 / 2 / 4 / 3;
  padding: 2em;
  padding-top: 0em;
  height: fit-content;
}

.transportation-info {
  color: gray;
  font-size: 0.8em;
}

/* ----------GETTING AROUND TOKYO---------- */

.getting-around-kyoto {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
}

.getting-around-kyoto img {
  height: auto;
  width: 100%;
}

.getting-around-kyoto-text {
  grid-area: 1 / 1 / 2 / 2;
  padding: 2em;
}

.getting-around-kyoto-image {
  grid-area: 1 / 2 / 2 / 3;
}

.getting-around-kyoto-video {
  width: auto;
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 4em;
  display: flex;
  justify-content: center;
}

/* ----------TOP ATTRACTIONS---------- */

.top-attractions-part-1 {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  max-width: 1600px;
}

.kyoto-attraction-1 {
  grid-area: 1 / 1 / 2 / 2;
  margin: 0 auto;
  position: relative;
}

.kyoto-attraction-2 {
  grid-area: 1 / 2 / 2 / 3;
  margin: 0 auto;
  position: relative;
}

.top-attractions-part-2 {
  margin-top: 1em;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto;
  max-width: 1600px;
  padding-bottom: 2.5em;
}

.kyoto-attraction-3 {
  grid-area: 1 / 1 / 2 / 2;
  margin: 0 auto;
  position: relative;
}
.kyoto-attraction-4 {
  grid-area: 1 / 2 / 2 / 3;
  margin: 0 auto;
  position: relative;
}
.kyoto-attraction-5 {
  grid-area: 1 / 3 / 2 / 4;
  margin: 0 auto;
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background: var(--primary-color);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.kyoto-attraction-1:hover .overlay {
  bottom: 0;
  height: 100%;
}

.kyoto-attraction-2:hover .overlay {
  bottom: 0;
  height: 100%;
}

.kyoto-attraction-3:hover .overlay {
  bottom: 0;
  height: 100%;
}

.kyoto-attraction-4:hover .overlay {
  bottom: 0;
  height: 100%;
}

.kyoto-attraction-5:hover .overlay {
  bottom: 0;
  height: 100%;
}

.top-attractions-part-1 .overlay-text {
  color: white;
  position: absolute;
  padding: 2em;
}

.top-attractions-part-2 .overlay-text {
  color: white;
  position: absolute;
  padding: 0 0.7em;
}

.top-attractions-part-2 .overlay-text h2 {
  font-size: 1.2em;
}

.top-attractions-part-2 .overlay-text p {
  font-size: 0.8em;
}

/* ----------RESPONSIVE---------- */

@media all and (max-width: 1366px) {
  main,
  nav,
  header,
  footer,
  .text-background {
    max-width: 1366px;
  }

  /* ----------TRAVEL ADVICE---------- */

  .preview {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }

  .preview-image {
    grid-area: 1 / 1 / 2 / 2;
    margin: 0 auto;
  }
  .preview-text {
    grid-area: 2 / 1 / 3 / 2;
  }

  main img {
    width: 100%;
  }

  /* ----------FOOTER---------- */

  .footer-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
  }

  .footer-logo {
    display: none;
  }

  .footer-policy {
    grid-area: 2 / 1 / 3 / 2;
  }

  .footer-destinations {
    grid-area: 1 / 1 / 2 / 2;
    margin: 0 auto;
  }

  .footer-history {
    grid-area: 1 / 2 / 2 / 3;
    margin: 0 auto;
  }

  .footer-contact {
    grid-area: 2 / 2 / 3 / 3;
    margin: 0 auto;
  }

  .footer-social-links {
    display: grid;
  }

  .contact-info-social {
    grid-area: 1 / 1 / 2 / 2;
    padding-top: 2em;
    /*   margin-right: auto; */
  }

  .footer-contact-social div {
    width: fit-content;
  }

  .contact-info {
    grid-area: 1 / 2 / 2 / 3;
    margin-left: auto;
  }

  .footer-copywrite {
    grid-area: 3 / 1 / 4 / 3;
    text-align: center;
    color: gray;
    border-top: gray 1px solid;
  }

  .footer-copywrite p {
    line-height: 0.9em;
  }

  .footer-list-links li {
    color: gray;
    padding-left: 1em;
    font-size: 0.7em;
  }

  .footer-list-links li a {
    color: gray;
  }

  .footer-list-titles {
    padding-left: 1em;
  }

  footer {
    background: var(--secondary-color);
    color: white;
  }

  footer a:hover {
    text-decoration: underline;
  }
}

@media all and (max-width: 1024px) {
  main,
  nav,
  header,
  footer,
  .text-background {
    max-width: 1024px;
  }

  .kyoto-temperature-image {
    width: 100%;
    align-self: center;
    margin-left: 0em;
  }

  .from {
    max-width: 1024px;
  }

  .from img {
    width: 100%;
  }

  .getting-around-kyoto {
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
  }

  .getting-around-kyoto-image {
    grid-area: 1 / 1 / 2 / 2;
  }

  .getting-around-kyoto-text {
    grid-area: 2 / 1 / 3 / 2;
  }
}

@media all and (max-width: 360px) {
  main,
  nav,
  header,
  footer,
  .text-background {
    max-width: 360px;
  }

  main img {
    width: 100%;
  }

  .gallery {
    background-image: url(../images/kyoto/kyoto-banner-360.jpg);
    background-position: top center;
    background-size: 100%;
    width: 360px;
    height: 250px;
  }
  .text-background {
    margin: 0;
  }

  /* ----------TOKYO TEMPERATURE---------- */

  .kyoto-temperature {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
    max-width: 360px;
  }

  .kyoto-temperature-array {
    grid-area: 1 / 1 / 2 / 2;
    margin: 0 auto;
  }
  .kyoto-temperature-image {
    grid-area: 2 / 1 / 3 / 2;
    margin-top: 1em;
    margin-left: 0;
  }

  /* ----------NARITA INTERNATIONAL AIRPOT---------- */

  .from {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(7, auto);
    width: 100%;
    max-width: 360px;
  }

  .from-title {
    grid-area: 1 / 1 / 2 / 2;
    padding-left: 0.5em;
    max-width: 360px;
  }

  .transportation-1 {
    grid-area: 2 / 1 / 3 / 2;
    padding: 2em;
    max-width: 360px;
  }

  .transportation-2 {
    grid-area: 3 / 1 / 4 / 2;
    padding: 2em;
    max-width: 360px;
  }

  .transportation-3 {
    grid-area: 4 / 1 / 5 / 2;
    padding: 2em;
    max-width: 360px;
  }

  .transportation-4 {
    grid-area: 5 / 1 / 6 / 2;
    padding: 2em;
    padding-top: 0em;
    height: fit-content;
    max-width: 360px;
  }

  .transportation-5 {
    grid-area: 6 / 1 / 7 / 2;
    padding: 2em;
    padding-top: 0em;
    height: fit-content;
    max-width: 360px;
  }

  /* ----------GETTING AROUND KYOTO---------- */

  .getting-around-kyoto {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
  }

  .getting-around-kyoto img {
    height: auto;
    width: 100%;
  }

  .getting-around-kyoto-text {
    grid-area: 2 / 1 / 3 / 2;
    padding: 2em;
  }

  .getting-around-kyoto-image {
    grid-area: 1 / 1 / 2 / 2;
  }

  .getting-around-kyoto-video {
    width: auto;
    max-width: 360px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  iframe {
    width: 80%;
    height: auto;
  }

  /* ----------FOOTER---------- */
  .footer-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(5, auto);
    max-width: 360px;
  }

  .footer-destinations {
    grid-area: 1 / 1 / 2 / 2;
  }

  .footer-history {
    grid-area: 2 / 1 / 3 / 2;
  }

  .footer-contact {
    grid-area: 3 / 1 / 4 / 2;
    margin-bottom: 1em;
  }

  .footer-policy {
    grid-area: 4 / 1 / 5 / 2;
    margin: 0 auto;
  }

  .footer-copywrite {
    grid-area: 5 / 1 / 6 / 2;
  }
}
